* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-link: #C4C4CC;
  --color-link-active: #FFFFFF;
  --color-title: #E1E1E6;
  --color-button-hover: #02799D;

  font-size: 62.5%;
}

body {
  height: 100vh;
  font: 400 1.6rem "Roboto", sans-serif;
  background-image: url(./assets/img/mountains-universe-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
  padding: 4rem 7.2rem;
}

nav {
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
}

nav a {
  font-size: 2.1rem;
  color: var(--color-link);
  line-height: 2.1rem;
  text-decoration: none;
}

.active {
  font-size: 2.4rem;
  color: var(--color-link-active);
  font-weight: 700;
}

#home {
  text-align: center;
}

.title {
  margin-top: 17.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--color-title);
}

.more__btn {
  display: inline-block;
  margin-top: 2.4rem;
  padding: 1.2rem 3.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--color-link-active);
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid var(--color-link-active);
  border-radius: .5rem;
  transition: all 200ms ease-in-out;
}

.more__btn:hover {
  color: var(--color-button-hover);
  background-color: var(--color-link-active);
}